{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block header_title %}Guerre : {{ form.vars.data.name }} {% if form.vars.data.wildCard %}<i class="icon-wildcard"></i>{% endif %}{% endblock %}

{% block _npc_attacks_attacks_widget %}
    <div id="{{ form.vars.id }}" class="collection" x-data="{
         removeAttack(k) { 
         attacks.splice(k, 1) 
         }
         }">
        <template x-for="(attack, idx) in attacks">

            <div class="pure-g">
                <div class="pure-u-3-4">
                    <input type="text" x-bind:name="'npc_attacks[attacks][' + idx + '][title]'" x-model="attack.title" class="pure-input-1"/>
                </div>
                <nav class="pure-u-1-4">
                    <a x-on:click="removeGear(idx)"><i class="icon-trash-empty"></i></a>
                </nav>
            </div>
        </template>
    </div>
{% endblock %}


{% block content %}
    {{ form(form, {attr: {'x-data': form.vars.data|json_encode()}}) }}

    <div id="npc_attacks_attacks_0" class="pure-input-1">

        <div class="pure-g">
            <div class="pure-u-1-3">
                <label for="npc_attacks_attacks_0_title" class="required">Title</label>
            </div>
            <div class="pure-u-2-3">
                <input type="text" id="npc_attacks_attacks_0_title" name="npc_attacks[attacks][0][title]" required="required" class="pure-input-1" value="gun">
            </div>
        </div>   

        <div class="pure-g">
            <div class="pure-u-1-3"><label>Combat</label></div>
            <div class="pure-u-2-3">
                <div id="npc_attacks_attacks_0_roll_roll">
                    <input type="radio" id="npc_attacks_attacks_0_roll_roll_0" name="npc_attacks[attacks][0][roll][roll]" required="required" value="4">
                    <label for="npc_attacks_attacks_0_roll_roll_0" class="required">d4</label>
                    <input type="radio" id="npc_attacks_attacks_0_roll_roll_1" name="npc_attacks[attacks][0][roll][roll]" required="required" value="6">
                    <label for="npc_attacks_attacks_0_roll_roll_1" class="required">d6</label>
                    <input type="radio" id="npc_attacks_attacks_0_roll_roll_2" name="npc_attacks[attacks][0][roll][roll]" required="required" value="8" checked="checked">
                    <label for="npc_attacks_attacks_0_roll_roll_2" class="required">d8</label>
                    <input type="radio" id="npc_attacks_attacks_0_roll_roll_3" name="npc_attacks[attacks][0][roll][roll]" required="required" value="10">
                    <label for="npc_attacks_attacks_0_roll_roll_3" class="required">d10</label>
                    <input type="radio" id="npc_attacks_attacks_0_roll_roll_4" name="npc_attacks[attacks][0][roll][roll]" required="required" value="12">
                    <label for="npc_attacks_attacks_0_roll_roll_4" class="required">d12</label>
                    <input type="radio" id="npc_attacks_attacks_0_roll_roll_5" name="npc_attacks[attacks][0][roll][roll]" required="required" value="13">
                    <label for="npc_attacks_attacks_0_roll_roll_5" class="required">d12+1</label>
                    <input type="radio" id="npc_attacks_attacks_0_roll_roll_6" name="npc_attacks[attacks][0][roll][roll]" required="required" value="14">
                    <label for="npc_attacks_attacks_0_roll_roll_6" class="required">d12+2</label>
                </div>
                <input type="hidden" id="npc_attacks_attacks_0_roll_name" name="npc_attacks[attacks][0][roll][name]" value="Combat">
            </div>
        </div>

        <div class="pure-g">
            <div class="pure-u-1-3"><label for="npc_attacks_attacks_0_rollBonus" class="required">Roll bonus</label></div>
            <div class="pure-u-2-3"><input type="number" id="npc_attacks_attacks_0_rollBonus" name="npc_attacks[attacks][0][rollBonus]" required="required" class="pure-input-1" value="0"></div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-3"><label for="npc_attacks_attacks_0_rateOfFire" class="required">Rate of fire</label></div>
            <div class="pure-u-2-3"><input type="number" id="npc_attacks_attacks_0_rateOfFire" name="npc_attacks[attacks][0][rateOfFire]" required="required" class="pure-input-1" value="1"></div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-3"><label for="npc_attacks_attacks_0_damage" class="required">Damage</label></div>
            <div class="pure-u-2-3"><input type="text" id="npc_attacks_attacks_0_damage" name="npc_attacks[attacks][0][damage]" required="required" class="pure-input-1" value="3d8+3"></div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-3"><label for="npc_attacks_attacks_0_armorPiercing" class="required">Armor piercing</label></div>
            <div class="pure-u-2-3"><input type="number" id="npc_attacks_attacks_0_armorPiercing" name="npc_attacks[attacks][0][armorPiercing]" required="required" class="pure-input-1" value="0"></div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-3"><label for="npc_attacks_attacks_0_reach" class="required">Reach</label></div>
            <div class="pure-u-2-3"><input type="text" id="npc_attacks_attacks_0_reach" name="npc_attacks[attacks][0][reach]" required="required" class="pure-input-1" value="Mêlée"></div>
        </div>

    </div>

{% endblock %}