{% extends "base.html.twig" %}

{% set npc = form.vars.data %}
{% block header_title %}
    {{ include('npc/menu.html.twig') }}
{% endblock %}

{% block content %}
    <h2>Êtes-vous sûr de vouloir supprimer {{ npc.title }} ({{ npc.description }}) ?</h2>
    {{ form(form) }}
{% endblock %}