{% extends "form.html.twig" %}
{% form_theme form _self %}

{% block title %}{{ form.vars.data.title }}{% endblock %}

{% block header_title %}
    {{ include('npc/menu.html.twig', {npc: form.vars.data}) }}
{% endblock %}

{% block _npc_info_content_label %}
    {{ form_label(form) }}
    {% include 'fragment/form_minitoolbar.html.twig' %}
    <div class="minitoolbar">
        <a href="{{ path('app_ollama_contentgenerate', {pk: form.parent.vars.data.pk, promptKey: 'npc-bg'}) }}"
           class="pure-button button-delete" title="Cancel edition and append a LLM-generated background">
            <i class="icon-background"></i>
        </a>
    </div>
{% endblock %}