{% extends "base.html.twig" %}
{% block header_title %}PNJ{% endblock %}
{% block content %}
    <section class="entity-listing">
        {% for item in listing %}
          {{ include(select_row_template(item)) }}
        {% endfor %}
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .block-link {
            text-decoration: none;
            color: #333;
            display: block;
            margin-bottom: 0.5em;
        }
        .block-link h2 {
            margin: 0 0 0.3em;
        }
        .thumb i {
            font-size: 3em;
        }
    </style>
{% endblock %}
