<h2>
    {{ npc.title }}
    <i class="{{ char_icon(npc) }}"></i>
</h2>
<p>
    <a href="{{ path('app_vertexcrud_show', {pk: npc.pk}) }}" target="_blank">
        <i class="icon-eye"></i>
        Lien vers la fiche de perso
    </a>
</p>
{% if npc.category == 'transhuman'and npc.surnameLang is not empty %}
    <p>
        <a href="{{ path('app_profilepicture_generateonthefly', {pk: npc.pk}) }}" target="_blank">
            <i class="icon-profile"></i>
            Instancier un nouvel avatar
        </a>
    </p>
{% endif %}
