{# Custom rendering for AttributeType #}
{% block attribute_row %}
    <div class="pure-g">
        <div class="pure-u-1-2"><label>{{ form.vars.data.name }}</label></div>
        <div class="pure-u-1-2">{{ form_widget(form.dice) }}</div>
    </div>
{% endblock %}
