{# List of generated epub in the cache #}
{% extends "base.html.twig" %}

{% block title %}Generated ePub{% endblock %}

{% block body %}
    <h1 class="big-title">{{ block('title') }}</h1>
    <main>
        <ul>
            {% for entry in listing %}
                <li>
                    <a href="{{ path('app_playerlog_getdocument',{filename:entry.basename }) }}">
                        {{ entry.basename('.epub') }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        main ul {
            font-size: 160%;
            line-height: 2em;
        }
    </style>
{% endblock %}