{# Player log view #}
{% extends "base.html.twig" %}

{% block title %}Player{% endblock %}

{% block body %}
    <div class="swiper" x-data="playerLog">
        <div class="swiper-wrapper" x-ref="journal">
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/json" id="mercure-url">
        {{ mercure('player-channel')|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}
    </script>
    <script type="module">
        import Swiper from 'swiper';

        Alpine.data('playerLog', () => ({
                socket: null,

                init() {
                    // Socket
                    const host = JSON.parse(document.getElementById("mercure-url").textContent)
                    this.socket = new EventSource(host)

                    this.socket.onopen = (msg) => {
                        console.log('Connected')
                    }

                    this.socket.onmessage = (msg) => {
                        console.log('new content')
                        const content = document.createElement("div");
                        content.classList = ['swiper-slide']
                        content.innerHTML = 'yolo'
                        this.$refs.journal.prepend(content)
                    }

                    this.socket.onerror = () => {
                        console.log('Disconnected')
                    }

                    // Swiper
                    const swiper = new Swiper(this.$el, {
                        direction: 'vertical'
                    })
                }
            }))
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <style>
        .swiper {
            width: 100vw;
            height: 100vh;
        }
    </style>
{% endblock %}

