{# show battlemap #}
{% extends "base.html.twig" %}

{% block title %}PlayerCast{% endblock %}

{% block body %}
    <div class="pure-g" id="tv">
        <div class="pure-u-1 waiting">
            <i class="icon-spin3 animate-spin"></i>
        </div>        
        <div class="pure-u-1 cast" hidden="true">
            <img src="#" class="pure-img"/>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var host = 'ws://{{ host }}:8889'
        var socket = null
        var playerScreen = document.querySelector('#tv img')

        try {
            // open websocket
            socket = new WebSocket(host);

            socket.onopen = function (msg) {
                document.querySelector('.cast').hidden = false
                document.querySelector('.waiting').hidden = true
            }

            socket.onmessage = function (msg) {
                playerScreen.src = msg.data;
            }

            socket.onclose = function () {
                document.querySelector('.cast').hidden = true
                document.querySelector('.waiting').hidden = false
            }

        } catch (e) {
            console.error(e);
        }

    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .waiting {
            font-size: 15em;
            color: #bbb;
            text-align: center;
        }
    </style>
{% endblock %}
