{# show battlemap #}
{% extends "base.html.twig" %}

{% block title %}PlayerCast{% endblock %}

{% block body %}
    <div class="pure-g" id="tv" x-data="spa">
        <div class="pure-u-1 waiting" x-show="!cast">
            <i class="icon-spin3 animate-spin"></i>
        </div>        
        <div class="pure-u-1 cast" x-show="cast">
            <img src="#" class="pure-img"/>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var playerScreen = document.querySelector('#tv img')

        document.addEventListener('alpine:init', () => {
            Alpine.data('spa', () => ({
                    host: 'ws://{{ host }}:8889',
                    cast: false,
                    socket: null,
                    init() {
                        var _this = this
                        this.socket = new WebSocket(this.host)
                        this.socket.onopen = function (msg) {
                            console.log('Connecting to ' + _this.host)
                            _this.cast = true
                        }

                        this.socket.onmessage = function (msg) {
                            playerScreen.src = msg.data;
                        }

                        this.socket.onclose = function () {
                            console.log('Disconnected')
                            _this.cast = false
                        }
                    }
                }))
        })
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .waiting {
            font-size: 15em;
            color: #bbb;
            text-align: center;
        }
    </style>
{% endblock %}
