{# show broken/missing links #}
{% extends "base.html.twig" %}

{% block title %}
    Vertex manquants
{% endblock %}

{% block header_title %}{{ block('title') }}{% endblock %}

{% block content %}
    <ul>
        {% for vertex in broken %}
            <li>
                <a href="{{ path('app_wiki', {title:vertex}) }}">{{ vertex }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

