{# show orphans #}
{% extends "base.html.twig" %}

{% block title %}
    Statistiques
{% endblock %}

{% block header_title %}{{ block('title') }}{% endblock %}

{% block content %}
    <table class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th>Type vertex</th>
                <th>Nombre</th>
                <th>Archivé</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in counting %}
                <tr>
                    <td>{{ entry.category|capitalize }}</td>
                    <td>{{ entry.total }}</td>
                    <td>{{ entry.archived }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

