{# show orphans #}
{% extends "base.html.twig" %}

{% block title %}
    Statistiques
{% endblock %}

{% block header_title %}{{ block('title') }}{% endblock %}

{% block content %}
    <table class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th>Type vertex</th>
                <th>Actif</th>
                <th>Archivé</th>
            </tr>
        </thead>
        <tbody>
            {% for type, entry in counting %}
                <tr>
                    <td>{{ type|capitalize }}</td>
                    <td>{{ entry.running }}</td>
                    <td>{{ entry.archived }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

