{# MediaWiki image #}
{% extends "base.html.twig" %}

{% block header_title %}Tracker{% endblock %}

{% block content %}
    <section>
        {{ form(form) }}
    </section>
    <section>
        {% for picture in gallery %} 
            <img src="{{ path('app_picture_mediawikiget', {url: picture|url_encode}) }}"/>
        {% endfor %}
    </section>
{% endblock %}