{# Search into MediaWiki image #}
{% extends "base.html.twig" %}

{% block header_title %}Remote Search{% endblock %}

{% block content %}
    <section>
        {{ form(form) }}
    </section>
    <section>
        {% for picture in gallery %}
            <a href="{{ picture.original }}">
                <img src="{{ path('app_remotepicture_read', {url: picture.thumbnail|url_encode}) }}"/>
            </a>
        {% endfor %}
    </section>
{% endblock %}