{# show picture #}
{% extends "base.html.twig" %}

{% block body %}
    <h1 class="big-title">
        <nav style="float: right">
            <a href="{{ path('app_picture_bluetooth', {title: img}) }}" title="Envoyer en Bluetooth"><i class="icon-bluetooth"></i></a>
        </nav>   
        {{ img }}
    </h1>
    <img src="/upload/{{ img }}"/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        img {
            display: block;
            max-height: 90vh;
            max-width: 90vw;
            margin: 0 auto;
        }
    </style>
{% endblock %}