{# Upload new image #}
{% extends "base.html.twig" %}

{% block header_title %}
    Upload picture
{% endblock %}

{% block content %}
    <section>
        {{ form(form) }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.addEventListener('paste', e => {
            const fileInput = document.getElementById('{{ form['picture'].vars.id }}')
            fileInput.files = e.clipboardData.files
        })
    </script>
{% endblock %}

