{# canvas for Social Network Profile #}
<html>
    <head>
        <style>
            body {
                width: {{ width }}px;
                margin: 0;
                padding: 0;
                background-color: #f0f0f0;
            }
            img {
                width: 100%;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <img src="data:image/png;base64,{{ profile_pic }}"/>
    </body>
</html>