{% extends 'form.html.twig' %}

{% block content %}
    <section>
        {{ parent() }}
    </section>
    {% if payload is not empty %}
        <section>
             {{ payload|json_encode }}
        </section>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/json" id="ollama-payload">
        {{ payload|json_encode()|raw }}
    </script>
{% endblock %}
