{% extends 'form.html.twig' %}

{% block content %}
    <section>
        {{ parent() }}
    </section>
    <section x-data="llm">
        <div class="pure-form">
            <fieldset>
                <textarea x-model="content" class="pure-input-1" rows="30"></textarea>
            </fieldset>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/json" id="ollama-payload">
        {{ payload|json_encode()|raw }}
    </script>
    <script type="module">
        Alpine.data('llm', () => ({
                content: '',
                reader: null,
                decoder: null,

                async init() {
                    const resp = await fetch('http://localhost:11434/api/chat', {
                        method: 'POST',
                        body: document.getElementById('ollama-payload').textContent
                    })

                    this.decoder = new TextDecoder()
                    this.reader = await resp.body.getReader()
                    for (; ; ) {
                        let {value: chunk, done: readerDone} = await this.reader.read()
                        if (readerDone) {
                            break
                        }
                        const msg = JSON.parse(this.decoder.decode(chunk))
                        this.content = this.content.concat(msg.message.content)
                    }
                }
            }))
    </script>
{% endblock %}
