{% extends "base.html.twig" %}

{% block content %}
    <div class="pure-g">
        {% for map in template %}
            <div class="pure-u-1-5">
                {{ map|raw }}
                <a href="{{ path('app_mapcrud_create', {model:map.recipe }) }}?{{ {mapgen: map.formData}|url_encode }}">
                    {{ map.title }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}