{# show picture #}
{% extends "base.html.twig" %}

{% block title %}{{ popup_param.name }}{% endblock %}

{% block body %}
    <div id="map"></div>
{% endblock %}

{% block javascripts %}
    <script>
        window.resizeTo({{ popup_param.max_size }}, {{ popup_param.max_size + popup_param.delta_y }})

        fetch('{{ img|raw }}', {
            redirect: 'manual'
        }).then(function (response) {
            if (!response.ok) {
                return Promise.reject(response.statusText);
            }
            return response.text()
        }).then(function (svg) {
            document.getElementById('map').innerHTML = svg
        }).catch((error) => {
            console.error(error);
        })

        document.getElementById('map').addEventListener('click', function (e) {
            console.log(e.target)
            console.log(e.target.parentNode.dataset.level)
            // @todo need moar check
            if (e.target.parentNode && e.target.parentNode.dataset.level) {
                document.querySelector('g[data-level="' + e.target.parentNode.dataset.level + '"]').style = 'opacity:0%'
            }
        })
    </script>
{% endblock %}