{% extends "base.html.twig" %}

{% block title %}Liste des Scenarii{% endblock %}

{% block header_title %}
    <div style="float: right">
        <a href="{{ path('app_ollama_dramatron') }}" title="Dramatron"><i class="icon-ollama"></i></a>
        <a href="{{ path('app_timelinecrud_create') }}" title="Créer un nouveau scenario"><i class="icon-movie-plus"></i></a> 
    </div>
    {{ block('title') }}
{% endblock %}

{% block content %}
    <section class="entity-listing">
        {% for item in listing %}
            {{ include(select_row_template(item)) }}
        {% endfor %}
    </section>
{% endblock %}