{# detail #}
{% macro print_group(icon, group) %}
    <h2><i class="icon-{{ icon }}"></i></h2>
    <ul class="link-tree">
        {% for item in group %}
            <li>
                <a href="{{ path('app_wiki', {title:item}) }}">{{ item }}</a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

<style>
    .link-tree {
        list-style-type: none;
        list-style-position: inside;
        margin: 0;
        padding: 0;
        line-height: 150%;
    }
</style>
{% if network.scene is defined %}
    {{ _self.print_group('video', network.scene) }}
{% endif %}
