<section class="notif" 
         x-data="{{ alpinejs_flashes(app.flashes)|json_encode()|e('html_attr') }}"
         x-on:flash.window="flashes.unshift($event.detail)">
    <template x-for="flash in flashes">
        <div x-bind:class="'flash-' + flash.level"
             x-on:click="$el.hidden=true"
             x-text="flash.message">
        </div>
    </template>
</section>
<script>
    function pushFlash(elem, level, msg) {
        elem.dispatchEvent(new CustomEvent('flash', {"bubbles": true, detail: {level: level, message: msg}}))
    }
</script>