<section class="notif" x-data>
    <template x-for="(flash, idx) in $store.notif.flashes" :key="idx">
        <div x-bind:class="'flash-' + flash.level"
             x-bind:data-index="idx"
             x-on:click="$store.notif.hide(idx)"
             x-text="flash.message">
        </div>
    </template>
</section>
<script type="module">
    Alpine.store('notif', {
        flashes: [],

        init() {
            this.flashes
            ={{ alpinejs_flashes(app.flashes)|json_encode()|raw }}
        },

        push(level, msg) {
            this.flashes.unshift({level, message: msg})
        },

        hide(idx) {
            this.flashes.splice(idx, 1)
        }
    })
</script>