{# a set of button for special action in form #}
<div class="minitoolbar">
    <a href="{{ path('app_invokeaipicture_appendvertex', {pk: form.parent.vars.data.pk}) }}" class="pure-button" title="Append InvokeAI">
        <i class="icon-dcgan"></i>
    </a>
</div>