<ul>
    {% for vertex in connection %}
        <li class="icon-place">
            <a href="{{ path('app_vertexcrud_show', {pk: vertex.pk}) }}">
                {{ vertex.title }}
            </a>
        </li>
    {% else %}
        <li>
            <em>- Aucune connexion -</em>
        </li>
    {% endfor %}
</ul>        