<ul>
    {% for vertex in connection %}
        <li>
            <a href="{{ path('app_vertexcrud_show', {pk: vertex.pk}) }}">
                <i class="icon-place"></i>
                {{ vertex.title }}
            </a>
        </li>
    {% else %}
        <li>
            <em>- Aucune connexion -</em>
        </li>
    {% endfor %}
</ul>        