{# quick search ajax form #}
<div class="quick-search">
    <form class="pure-form">
        <input type="text" class="pure-input-1 pure-input-rounded" autocomplete="off" id="quicksearch" placeholder="Ctrl+K to search"/>
    </form>
    <script type="module">
        import Mousetrap from 'mousetrap';
        import autoComplete from 'js-autocomplete';

        // autocomplete
        new autoComplete({
            selector: '#quicksearch',
            minChars: 3,
            source: function (term, suggest) {
                fetch('{{ path('app_vertexcrud_search') }}?q=' + term)
                        .then(response => {
                            return response.json()
                        })
                        .then(data => {
                            suggest(data)
                        })
            },
            renderItem: function (item, search) {
                return `<div class="autocomplete-suggestion">${item}</div>`
            },
            onSelect: function (e, term, item) {
                location.assign('/wiki/' + item.textContent)
            }
        })

        Mousetrap.bind('ctrl+k', function () {
            document.getElementById('quicksearch').focus()
            return false
        })
    </script>
</div>