<nav class="backlinks">
    <ul>
        {% for inbound in backlinks %}
            <li>
                <i class="{{ vertex_icon(inbound) }}"></i>
                <a href="{{ path('app_wiki', {title:inbound.title}) }}">
                    {{ inbound.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>