h1, h2, h3, h4 {
    font-weight: lighter;
}

/* title */
h1.big-title {
    font-size: 2em;
    border: none;
    text-align: center;
    margin: 0;
    padding: 0.3em;
    color: white;
    background-color: #c60000;
}

.big-title a i {
    color: white;
}

article {
    margin: 1em;
}

@media print {
    article {
        margin: 0;
    }
}     

.character section i {
    font-size: 800%;
    opacity: 15%;
    margin: 0.2em;
}

form .collection nav {
    text-align: center;
}

form .collection nav i {
    font-size: 180%;
}

form .collection nav a i {
    color: #888;
}

form .collection nav a {
    cursor: pointer;
}

#npc_stats label.fakeselect {
    display: block;
    margin-left: 0.8em;
}

.entity-listing i {
    font-size: 150%;
}

.entity-listing nav.listing-action {
    text-align: right;
}

.entity-listing nav.listing-action a {
    display: inline-block;
    margin: 0 0.2em;
    color: #777;
}

.entity-listing .block-link {
    text-decoration: none;
    color: #333;
    display: block;
    margin-bottom: 1em;
}

.entity-listing .block-link h2 {
    margin: 0 0 0.3em;
}

.entity-listing .thumb i {
    font-size: 3em;
}

h2 {
    font-weight: lighter;
}

.info {
    margin: 1em;
}

.diceroller {
    font-size: 200%;
    text-align: center;
}

.diceroller .roll-result {
    font-size: 150%;
    margin-top: 0.3em;
    padding: 0.2em;
}

.roll-result .fumble {
    background-color: pink;
}

.icon-d6.extra-dice {
    color: #aaa;
}

aside > nav.pure-menu {
    margin-top: 1em;
}

td.centered {
    text-align: center;
}

.character-show li {
    line-height: 135%;
}

.right-text {
    text-align: right;
}

input[type=text].highlight {
    color: #c60000;
}

a.new {
    color: red;
}

/* WIKI image */
.thumb img {
    max-height: 200px;
    max-width: 200px;
}

li.textcomplete-item img {
    max-height: 100px;
    max-width: 100px;
}

/* LOVELETTER */
.loveletter .rules {
    background-color: #eee;
    padding: 0.3em 1em;
}

.loveletter .signature {
    text-align: right;
    padding-right: 10em;
}

.loveletter p, .loveletter li {
    line-height: 140%;
}

.loveletter .choices li {
    margin-bottom: 1em;            
}

.loveletter a[href=""] {
    text-decoration: none;
    color: black;
}

/* FLASHH */
.notif {
    text-align: center;
}

.notif div {
    padding: 1em;
    margin: 0.5em;
    border-radius: 0.5em;
}

.notif .flash-success {
    background-color: lightgreen;
    color: green;
}

.notif .flash-error {
    background-color: lightpink;
    color: red;
}