:root {
    --sawo-color: #c60000;
}

/* title */
h1.big-title {
    font-size: 2em;
    border: none;
    text-align: center;
    margin: 0;
    padding: 0.3em;
    color: white;
    background-color: var(--sawo-color);
    font-weight: lighter;
}

article {
    margin: 1em;
}

@media print {
    article {
        margin: 0;
    }
}     

.character section i {
    font-size: 800%;
    opacity: 15%;
    margin: 0.2em;
}

form .collection nav {
    text-align: center;
}

form .collection nav i {
    font-size: 180%;
}

form .collection nav a i {
    color: #888;
}

form .collection nav a {
    cursor: pointer;
}

#npc_stats label.fakeselect {
    display: block;
    margin-left: 0.8em;
}

.character-listing i {
    font-size: 150%;
}

.character-listing nav.listing-action a {
    display: inline-block;
    margin: 0 0.5em;
    color: #777;
}

h2 {
    font-weight: lighter;
}

.info {
    margin: 1em;
}

.diceroller {
    font-size: 240%;
    text-align: center;
}

.diceroller .roll-result {
    font-size: 150%;
    margin-top: 0.3em;
    padding: 0.2em;
}

.roll-result.fumble {
    background-color: pink;
}

.icon-d6.extra-dice {
    color: #aaa;
}

aside > nav.pure-menu {
    margin-top: 1em;
}

td.centered {
    text-align: center;
}

.character-show li {
    line-height: 135%;
}