{
	frankenphp
	order mercure after encode
	order php_server before file_server
}

http://192.168.*.*:80 {
	root * /app/public
	php_server
        mercure {
            publisher_jwt "Arthur, j'apprécie les fruits au sirop"
            anonymous true
            transport_url bolt:///app/var/mercure.db
            subscriptions
        }
}