{% extends "base.html.twig" %}

{% block title %}{{ location.title }}{% endblock %}

{% block header_title %}
    Décor : {{ location.title }}
{% endblock %}

{% block content %}
    <h1>{{ location.title }}</h1>
    {{ wiki(location.content) }}
{% endblock %}