{% extends "base.html.twig" %}

{% block title %}{{ location.title }}{% endblock %}

{% block header_title %}
    Lieu : {{ location.title }}
{% endblock %}

{% block content %}
    <h1>{{ location.title }}</h1>
    {{ littlewiki(location.content) }}
{% endblock %}