<!DOCTYPE html>
<html>
    <head>
        <title>{{ titre }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous"/>
        <style>

            /* all titles */
            h1 {
                font-size: 1.4em;
                border-bottom: black solid thin;
            }

            h2 {
                font-size: 1.1em;
            }

            h1.big-title {
                font-size: 3em;
                border: none;
                text-align: center;
                margin: 0;
                padding: 0.6em;
                color: white;
                background-color: #c60000;
                font-weight: lighter;
            }

            h1.h0 {
                font-size: 1.8em;
                color: #c60000;
                border-bottom: #c60000 solid thick;
            }

            h3 {
                font-weight: normal;
                font-style: italic;
                margin-bottom: -0.3em;
            }

            /* infobox align */
            aside {
                float: right;
            }
            section, article {
                clear: both;
            }

            /* style inside box */
            .portable-infobox {
                width: 270px;
                background-color: #f0f0f0;
                margin-left: 2em;
                margin-bottom: 1em;
            }
            .pi-item {
                padding: 0.6em 0;
            }
            .pi-title {
                text-align: center;
                background-color: #ffd0d0;
                margin: 0;
                display: inherit;
            }
            figure {
                display: block;
                text-align: center;
                margin: 0;
            }
            .pi-data {
                display: block;
                font-size: 0.9em;
            }
            .pi-data h3.pi-data-label {
                display: inline-block;
                width: 100px;
                font-size: 100%;
                font-style: normal;
                margin: 0 0.6em 0;
                vertical-align: top;
            }
            .pi-data .pi-data-value {
                display: inline-block;
                width: 148px;
            }
            .pi-data .pi-data-value p {
                margin: 0;
            }

            /* image */
            figure.tright {
                float: right;
                margin-left: 10px;
                margin-bottom: 10px;
            }
            figure.pi-image {
                padding: 0;
            }

            /* link */
            a {
                text-decoration: none;
                color: #8c0000;
            }

            /* table */
            table.article-table th {
                border-bottom: black solid thin;
                padding: 0.1em;
            }
            table.article-table td {
                padding: 0.1em;
            }

            /* bandeau en cours */
            .state-flag {
                text-align:center;
                width:100%;
                line-height:40px;
            }

            .state-flag-alpha {
                background-color: #f99;
            }

            .state-flag-beta {
                background-color: #ffe199;
            }

            .state-flag-rc {
                background-color: #99ffb3;
            }

            /* misc */
            a.wikia-photogallery-add {
                display: none;
            }

            /* modèle article détaillé */
            .lien-article-detail {
                margin-left: 2em;
            }

            .lien-article-detail img {
                margin-right: 0.3em;
                vertical-align: middle;
            }

            /* Responsive design */
            .flexwrapper {
                display: flex;
                width: 100%;
            }

            .flexwrapper div {
                flex-basis: 100%;
            }

            .centered {
                text-align: center;
            }

            @media print {
                .chapter {
                    page-break-after: always !important;
                }
                h1.h0 + article ~ article {
                    page-break-inside: avoid !important;
                }
            }

            @page {
                size: A5;
                margin: 0.1in;
            }
        </style>       
    </head>
    <body>
        <h1 class="big-title">{{ titre }}</h1>       
        {% block body %}
        {% endblock %}
        <script>
            // removing "Voir aussi"
            document.querySelectorAll('#Voir_aussi').forEach(elem => {
                let title = elem.parentElement
                title.nextElementSibling.remove()
                title.remove()
            })

            // removing "Article détaillé"
            document.querySelectorAll('.lien-article-detail').forEach(elem => {
                elem.remove()
            })

            // custom lazyload pictures
            var img = document.getElementsByClassName('lazyload')
            for (var i = 0; i < img.length; i++) {
                img[i].attributes['src'].value = img[i].attributes['data-src'].value
            }

            // remove links to prevent annoying popup on e-readers
            var link = document.querySelectorAll('a')
            for (var i = 0; i < link.length; i++) {
                link[i].attributes['href'].value = '#'
            }
        </script>
    </body>
</html>