{# last pictures from remote #}
<div class="pure-g last-picture">
    {% for pic in listing %}
        <div class="pure-u-1-3">
            <img src="{{ pic.thumb }}" class="pure-img"/>
        </div>
    {% endfor %}
</div>