{# Search into InvokeAI images #}
{% extends "base.html.twig" %}

{% block header_title %}InvokeAI Search{% endblock %}

{% block content %}
    <section>
        {{ form(form) }}
    </section>
    <section class="pure-g search">
        {% for picture in gallery %}
            <div class="pure-u-1-5">
                <div class="thumbnail">
                    <a href="{{ picture.full }}" target="_blank">
                        <img src="{{ picture.thumb }}" class="pure-img"/>
                    </a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .search .thumbnail img {
            margin-bottom: 1em;
        }
    </style>
{% endblock %}