{# Search into InvokeAI images for appending to vertex #}
{% extends "invokeai/search.html.twig" %}

{% block title %}Append picture{% endblock %}
{% block header_title %}{{ vertex.title }}{% endblock %}

{% block picture %}
    <div class="thumbnail">
        <a href="{{ path('app_invokeaipicture_vertexappend', {pk: vertex.pk, storage: title, pic:picture.name, query: form.query.vars.data}) }}">
            <img src="{{ picture.thumb }}" class="pure-img"/>
        </a>
        <div class="legend">{{ picture.width }}</div>
    </div>
{% endblock %}