{# Search into InvokeAI images for appending to vertex #}
{% extends "invokeai/search.html.twig" %}

{% block title %}Append picture{% endblock %}
{% block header_title %}{{ vertex.title }}{% endblock %}

{% block picture %}
    <a x-bind:href="'{{ path('app_invokeaipicture_vertexappend', {pk: vertex.pk}) }}?storage=' + source + '&pic=' + picture.name + '&query=' + query"
       x-bind:title="picture.prompt">
        <img x-bind:src="picture.thumb" class="pure-img"/>
    </a>
    <div class="legend" x-text="picture.width"></div>
{% endblock %}
