{% extends "base.html.twig" %}
{% block header_title %}Liste des Vertex{% endblock %}
{% block content %}
    <div x-data="searchEngine">
        <form class="pure-form" x-on:submit="goToFirst">
            <input type="text" x-model="keyword" x-ref="search" class="pure-input-1 mousetrap"/>
        </form>
        <section class="entity-listing" x-html="filteredList">
        </section>
    </div>
{% endblock %}

{% block info %}
    {{ render(controller('App\\Controller\\GameSession::history')) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module">
        Alpine.data('searchEngine', () => ({
                keyword: '',
                init() {
                    Mousetrap.bind('escape', () => {
                        this.keyword = ''
                        return false
                    })
                    this.$refs.search.focus()
                },
                goToFirst(e) {
                    e.preventDefault()
                    let elem = document.querySelector('.entity-listing a')
                    if (elem) {
                        location.href = elem.href
                    }
                },
                filteredList() {
                    return fetch('{{ path('app_vertexcrud_filter') }}?query=' + this.keyword)
                            .then(response => {
                                if (response.ok) {
                                    return response.text()
                                } else {
                                    pushFlash(this.$root, 'error', 'Error in text search')
                                    return ''
                                }
                            })
                }
            }))

        Alpine.start()
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .pure-form {
            margin-bottom: 1em;
        }

        .pure-form input {
            font-size: 150%;
        }
    </style>
{% endblock %}
