{% extends "base.html.twig" %}
{% block header_title %}PNJ{% endblock %}
{% block content %}
    <section class="entity-listing">
        {% for item in listing %}
          {{ include(select_row_template(item)) }}
        {% endfor %}
    </section>
{% endblock %}
