{% extends "base.html.twig" %}
{% block header_title %}Vertex{% endblock %}
{% block content %}
    <table class="pure-table pure-table-striped entity-listing">
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Category{% endtrans %}</th>
            <th>Actions</th>
        </tr>
        {% for vertex in listing %}
            <tr>
                <td>{{ vertex.title }}</td>
                <td>{{ vertex.category }}</td>
                <td>
                    <nav class="listing-action">
                        {{ include('vertex/actions.html.twig') }}
                    </nav>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
