{% extends "base.html.twig" %}
{% block header_title %}Liste des Vertex{% endblock %}
{% block content %}
    <div x-data="searchEngine">
        <form class="pure-form" x-on:submit="goToFirst">
            <input type="text" x-model="keyword" id="search" class="pure-input-1 mousetrap"/>
        </form>
        <section class="entity-listing" x-html="await filter(keyword)">
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        async function filter(input) {
            let response = await fetch('{{ path('app_vertexcrud_filter') }}?query=' + input)

            return await response.text()
        }

        document.getElementById('search').focus()

        document.addEventListener('alpine:init', () => {
            Alpine.data('searchEngine', () => ({
                    keyword: '',
                    init() {
                        let current = this
                        Mousetrap.bind('escape', function () {
                            current.keyword = ''
                            return false
                        })
                    },
                    goToFirst(e) {
                        e.preventDefault();
                        let elem = document.querySelector('.entity-listing a')
                        if (elem) {
                            location.href = elem.href
                        }
                    }
                }))
        })
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        .pure-form {
            margin-bottom: 1em;
        }

        .pure-form input {
            font-size: 150%;
        }
    </style>
{% endblock %}