{% extends "vertex/delete.html.twig" %}

{% block content %}
    <h2>Voulez-vous renommer <strong>{{ form.vars.data.title }}</strong> ?</h2>
    <span>Ce vertex est mentionné dans les documents suivants :</span>
    {{ include('fragment/wiki_backlinks.html.twig') }}
    {{ form(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .backlinks ul li {
            display: block;
        }
    </style>
{% endblock %}