{% extends "base.html.twig" %}

{% block title %}Création d'une collection de tuiles{% endblock %}

{% block header_title %}{{ block('title') }}{% endblock %}
{% block content %}
    <ul>
        {% for tile in listing %}
            <li>
                {{ include('hex/tile/' ~ tile.relativePathname) }} 
            </li>
        {% endfor %}
    </ul>
{% endblock %}
