{% extends "vertex/show.html.twig" %}

{% block title %}Hexmap{% endblock %}

{% block header_title %}
    Hexmap
{% endblock %}

{% block body %}
    <div id="map"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('svgdotjs/svg.min.js') }}"></script>
    <script src="{{ asset('svgdotjs/svg.panzoom.min.js') }}"></script>
    <script src="{{ asset('svgdotjs/svg.draggable.min.js') }}"></script>
    <script>
        var battlemap

        fetch('{{ path('app_hex_map') }}', {
            redirect: 'manual'
        }).then(function (response) {
            if (!response.ok) {
                return Promise.reject(response.statusText);
            }
            return response.text()
        }).then(function (svg) {
            document.getElementById('map').innerHTML = svg

            // Pan & zoom the SVG
            let svgElem = document.querySelector('#map svg')
            battlemap = SVG(svgElem)
            battlemap.panZoom({zoomMin: 20, zoomMax: 200, zoomFactor: 0.2})

        }).catch((error) => {
            console.error(error);
        })
    </script>
{% endblock %}
