h1, h2, h3, h4 {
    font-weight: lighter;
}

/* title */
h1.big-title {
    font-size: 2em;
    border: none;
    text-align: center;
    margin: 0;
    padding: 0.3em;
    color: white;
    background-color: #c60000;
}

.big-title a i {
    color: white;
}

article {
    margin: 1em;
}

@media print {
    article {
        margin: 0;
    }
}

i.big-waiting {
    font-size: 800%;
    opacity: 15%;
    margin: 0.2em;
}

form .collection nav {
    text-align: center;
}

form .collection nav i {
    font-size: 180%;
}

form .collection nav a i {
    color: #888;
}

form .collection nav a {
    cursor: pointer;
}

#npc_stats label.fakeselect {
    display: block;
    margin-left: 0.8em;
}

/* VERTEX LISTING */
.entity-listing > .pure-g:hover {
    background-color: #ffeded;
}

.entity-listing i {
    font-size: 150%;
}

.entity-listing nav.listing-action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.8em;
    flex-wrap: wrap;
    height: 100%;
}

.entity-listing nav.listing-action a {
    color: #777;
}

.entity-listing .block-link {
    text-decoration: none;
    color: #333;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.entity-listing .block-link h2 {
    margin: 0 0 0.3em;
}

.entity-listing .thumb {
    display: flex;
    align-items: center;
}

.entity-listing .thumb i {
    font-size: 3em;
}

h2 {
    font-weight: lighter;
}

.info {
    margin: 1em;
}

/* WIKITEXT */
.parsed-wikitext p, .parsed-wikitext li {
    line-height: 150%;
}

.parsed-wikitext tr:nth-child(even) {
    background-color: #f0f0f0;
}

.parsed-wikitext td {
    padding: 0.3em 0.6em;
}

.parsed-wikitext a.external::after {
    font-family: 'iconfont';
    content: ' \f300';
    display: inline-block;
    margin-left: 0.2em;
}

.parsed-wikitext a.new {
    color: red;
}

/* WIKI image */
.parsed-wikitext img.mw-file-element {
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
}

.parsed-wikitext .mw-broken-media.mw-file-element {
    background-color: #ffdce2;
    color: red;
    padding:0.5em;
}

/* WIKI templates */
.legend-highlighting {
    color: darkred;
    cursor: zoom-in;
}

.highlighting-action {
    animation-duration: 3s;
    animation-name: hiliteActionSequence;
}

@keyframes hiliteActionSequence {
    from {
        color: white;
        background-color: darkred;
    }

    to {
        color: darkred;
        background-color: none;

    }
}

/* Wikitext TAG extension styling */
table i[data-pushable="pdf"], .read-aloud i[data-pushable="pdf"] {
    color: darkred;
    cursor: zoom-in;
}

.read-aloud i[data-pushable="pdf"] {
    float: right;
    font-size: 120%;
}

/* ROLL */
.diceroller {
    font-size: 200%;
    text-align: center;
}

.diceroller .roll-result {
    font-size: 150%;
    margin-top: 0.3em;
    padding: 0.2em;
}

.roll-result .fumble {
    background-color: pink;
}

.icon-d6.extra-dice {
    color: #aaa;
}

aside > nav.pure-menu {
    margin-top: 1em;
}

td.centered {
    text-align: center;
}

.character-show li {
    line-height: 135%;
}

.right-text {
    text-align: right;
}

input[type=text].highlight {
    color: #c60000;
}

/* LOVELETTER */
.loveletter .rules {
    background-color: #eee;
    padding: 0.1em 1em;
}

.loveletter .signature {
    text-align: right;
    padding-right: 10em;
}

.loveletter p, .loveletter li {
    line-height: 140%;
}

.loveletter .choices li {
    padding: 0.3em;
    margin-bottom: 0.4em;
}

a[href=""] {
    text-decoration: none;
    color: black;
}

.loveletter .choices li.select-choice {
    background-color: #c5f6c5;
}

/* FLASH */
.notif {
    text-align: center;
}

.notif div {
    padding: 1em;
    margin: 0.5em;
    border-radius: 0.5em;
}

.notif .flash-success {
    background-color: #c5f6c5;
    color: green;
}

.notif .flash-error {
    background-color: lightpink;
    color: red;
}

i.archived {
    color: #ddd;
}

/* Dashboard */
.dashboard > div {
    text-align: center;
}
.dashboard a {
    text-decoration: none;
    color: #333;
}
.dashboard i {
    display: block;
    font-size: 800%;
    color: #ccc;
}

.dashboard .mediawiki img {
    height: calc(9.6em - 1.6em);
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    vertical-align: text-bottom;
}

.dashboard h2 {
    margin-top: 0;
}

/* timeline TOC */
.timeline-toc {
    margin: 1em;
    padding: 1em;
    background-color: #eee;
}

.timeline-toc ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    line-height: 150%;
}

.timeline-toc ul li {
    margin-bottom: 0.25em;
}

.timeline-toc h2:first-child {
    margin-top: 0;
}

/* game tracking document box */
.game-tracking {
    margin: 1em 0 1em;
    padding: 1em 0.3em 0;
    background-color: #eee;
}

.game-tracking ul.history {
    font-size: 90%;
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-left: 1.5em;
}

.game-tracking ul.history li {
    padding-bottom: 0.7em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game-tracking ul.history li:before {
    position: absolute;
    left: 0;
}

.icon-vertex-transhuman:before {
    content: '\f200';
}

.icon-vertex-place:before {
    content: '\f201';
}

.icon-vertex-scene:before {
    content: '\f202'
}

.icon-vertex-handout:before {
    content: '\f203'
}

/* backlinks nav */
.backlinks ul {
    padding: 0;
}

.backlinks ul li {
    display: inline-block;
    margin-right: 2em;
    margin-bottom: 1em;
}

/* mini toolbar in form */
form .minitoolbar {
    text-align: right;
    margin-top: 0.5em;
    margin-right: 1em;
}
form .minitoolbar i {
    font-size: 150%;
}

/* autocomplete in wikitext */
.pure-form .autocomplete-combobox {
    position: absolute;
    height: auto;
    z-index: 1;
}
.autocomplete-combobox:focus {
    background-color: #eee;
}
.autocomplete-combobox .img-option {
    background-repeat: no-repeat;
    height: 5em;
    background-size: auto 5em;
    width: 10em;
}

/* read aloud quote */
.parsed-wikitext blockquote.read-aloud {
    background-image: url('/img/left-quote.svg');
    background-repeat: no-repeat;
    background-size: 3em;
    margin: 0;
    padding: 0 1em 0.3em 4em;
    background-color: rgba(255,255,255,0.85);
    background-blend-mode: overlay;
}

/* LLM form */
.form-prompt fieldset {
    line-height: 2.2em;
}