/*
 * Generic form
*/
.pure-form fieldset input, 
.pure-form fieldset select,
.pure-form fieldset textarea {
    margin-bottom: 0.5em;
}

.pure-form fieldset input[type="file"] {
    margin-top: 0.3em;
    margin-bottom: 0.8em;
}

.pure-form fieldset input[type="radio"],
.pure-form fieldset input[type="checkbox"] {
    margin: 0.6em 0.2em 1.1em 0
}

.pure-form fieldset .form-widget label {
    display: inline;
    margin-right: 2em;
}

@media screen and (max-width: 48em) {
    .pure-form fieldset .form-label label {
        display: block;
        margin: 0 0 0.3em;
        color: #777;
    }
    
    .form-widget {
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 48em) {
    .pure-form fieldset .form-label label {
        display: block;
        text-align: right;
        margin-right: 1em;
    }
}

.help-text {
    margin-left: 1em;
}

.form-error ul {
    margin: 1em 0 0;
    padding: 0;
}

.form-error li {
    list-style-type: none; 
    color: darkred;
}

.button-delete {
    background-color: #ffb4b4;
}

.button-write {
    background-color: #bcffe9;
}