{# top menu #}
<div style="float: right">
    <a href="{{ path('app_fandomproxy_search') }}" title="Rechercher"><i class="icon-search"></i></a>
    <a href="{{ path('app_fandomproxy_pdf', {id: id}) }}" title="Voir le PDF"><i class="icon-file-pdf"></i></a>
    <a href="{{ path('app_fandomproxy_pushpdf', {id: id}) }}" title="Envoyer le PDF"><i class="icon-push"></i></a>
</div>
