{% extends "form.html.twig" %}

{% block content %}
    {{ parent() }}
    <ul>
        {% for page in result %}
            <li><a href="{{ path('app_fandomproxy_show', {id: page.pageid}) }}">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}