{% extends "base.html.twig" %}

{% block title %}Recherche Fandom{% endblock %}
{% block header_title %}{{ block('title') }}{% endblock %}

{% block content %}
    <section>
        {{ form(form) }}
    </section>
    <section class="pure-g result">
        {% block result %}
        {% endblock %}
    </section>
{% endblock %}