{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block stylesheets %}
    <style>

        /* title */
        h1 {
            padding-top: 1em;
            font-size: 1.4em;
            border-bottom: black solid thin;
        }

        h2 {
            font-size: 1.2em;
        }

        h1.big-title {
            font-size: 3em;
            border: none;
            text-align: center;
            margin: 0;
            padding: 0.6em;
            color: white;
            background-color: #c60000;
            font-weight: lighter;
        }

        h1.h0 {
            font-size: 1.8em;
            color: #c60000;
            border-bottom: #c60000 solid thick;                
        }

        h3 {
            font-weight: normal;
            font-style: italic;
            margin-bottom: -0.3em;
        }

        /* box align */
        aside {
            float: right;
        }
        section, article {
            clear: both;
        }

        /* style inside box */
        .pi-europa.portable-infobox {
            width: 300px;
            background-color: #f0f0f0;                
        }
        .pi-item {
            display: flex;
            flex-direction: row;
            padding: 0.5em;
        }
        .pi-data-label {
            flex-basis: 160px;   
            margin: 0;
        }
        figure {
            display: block;
            text-align: center;
            margin: 0;
        }
        .pi-title {
            text-align: center;
            background-color: #ffd0d0;
            margin: 0;
            padding: 0.5em;
            display: inherit;
        }
        .portable-infobox {
            margin-left: 2em;
        }
        .pi-data-value, .pi-data-value > p {
            vertical-align: baseline;
            margin: 0;
        }     

        /* image */
        figure.tright {
            float: right;
            margin-left: 10px;
            margin-bottom: 10px;
        }
        figure.pi-image {
            padding: 0;
        }

        /* link */
        a {
            text-decoration: none;
            color: #8c0000;
        }

        /* table */
        table.article-table th {
            border-bottom: black solid thin;
            padding: 0.1em;
        }
        table.article-table td {
            padding: 0.1em;                
        }

        /* bandeau en cours */
        .state-flag {
            text-align:center; 
            width:100%; 
            line-height:40px;
        }

        .state-flag-alpha {
            background-color: #f99; 
        }

        .state-flag-beta {
            background-color: #ffe199; 
        }

        .state-flag-rc {
            background-color: #99ffb3; 
        }

        /* misc */
        a.wikia-photogallery-add {
            display: none;
        }

        /* modèle article détaillé */
        .lien-article-detail {
            margin-left: 2em;
        }

        .lien-article-detail img {
            margin-right: 0.3em;
        }         

        /* Responsive design */
        .flexwrapper {
            display: flex;    
            width: 100%;	
        }

        .flexwrapper div {
            flex-basis: 100%;
        }

        .centered {
            text-align: center;
        }        

        @media print {
            h1.h0 {
                break-before: always;
            }
            article {
                break-inside: avoid;
                vertical-align: baseline;
            }
        }     
    </style>   
{% endblock %}

{% block body %}
    <h1 class="big-title">{{ titre }}</h1>       
    {% block content %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    <script>
        var img = document.getElementsByClassName('lazyload')
        for (var i = 0; i < img.length; i++) {
            img[i].attributes['src'].value = img[i].attributes['data-src'].value
        }
    </script>
{% endblock %}