{% extends "voronoi/show.html.twig" %}

{% block content %}
    <ul>
        {% for key, value in stats %}
            <li>
                {{ key }} = {{ value }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
