{% extends "voronoi/show.html.twig" %}

{% block content %}
    <table class="pure-table pure-table-striped">
        {% for key, value in stats %}
            <tr>
                <th>{{ key }}</th>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
