{% extends "vertex/show.html.twig" %}

{% block title %}{{ vertex.title }}{% endblock %}

{% block header_title %}
    <nav style="float: right">
        {{ include('loveletter/actions.html.twig') }}
    </nav>   
    Preview : {{ vertex.title }}
{% endblock %}

{% block content %}
    <div class="loveletter">
        {{ include('loveletter/content.html.twig') }}
    </div>
{% endblock %}