{% extends "base.html.twig" %}

{% block title %}Création rapide de Transhumain{% endblock %}
{% block header_title %}{{ block('title') }}{% endblock %}

{% block content %}
    <div x-data="quickCreation">
        <div class="pure-g">
            <template x-for="(key, idx) in choices" :key="key">
                <div class="pure-u-1-6" x-data="{selected: seekNode(key)}">
                    <h2 x-text="selected.name"></h2>
                    <template x-for="child in selected.children">
                        <label x-data="{choice: seekNode(child)}">
                            <input type="radio" x-bind:name="selected.name + '_child'" x-on:click="setChoiceAt(idx + 1, choice.name)">
                            <span x-text="choice.name"></span>
                        </label>
                    </template>
                </div>
            </template>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-6">
                <h2>Background</h2>
                <ul>
                    <template x-for="value in getBackgrounds()">
                        <li>
                            <input type="radio" checked="true"/>
                            <label x-text="value"></label>
                        </li>
                    </template>
                </ul>
            </div>
            <div class="pure-u-1-6">
                <h2>Faction</h2>
                <ul>
                    <template x-for="value in getFactions()">
                        <li>
                            <input type="radio" checked="true"/>
                            <label x-text="value"></label>
                        </li>
                    </template>
                </ul>
            </div>
            <div class="pure-u-1-6">
                <h2>Attributs</h2>
                <table class="pure-table">
                    <template x-for="(value, attr) in getAttributes()">
                        <tr>
                            <th x-text="attr"></th>
                            <td x-text="'d'+value"></td>
                        </tr>
                    </template>
                </table>
            </div>
            <div class="pure-u-1-6">
                <h2>Compétences</h2>
                <table class="pure-table">
                    <template x-for="(value, attr) in getSkills()">
                        <tr>
                            <th x-text="attr"></th>
                            <td x-text="'d'+value"></td>
                        </tr>
                    </template>
                </table>
            </div>
            <div class="pure-u-1-6">
                <h2>Réseaux</h2>
                <table class="pure-table">
                    <template x-for="(value, attr) in getNetworks()">
                        <tr>
                            <th x-text="attr"></th>
                            <td x-text="value"></td>
                        </tr>
                    </template>
                </table>
            </div>
            <div class="pure-u-1-6">
                <h2>Atouts</h2>
                <ul>
                    <template x-for="value in getEdges()">
                        <li>
                            <input type="checkbox" checked="true"/>
                            <label x-text="value"></label>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('quickCreation', () => ({
                    graph: {{ graph|raw }},
                    choices: ['root'],
                    seekNode: function (key) {
                        const found = this.graph.find(node => {
                            return node.name === key
                        })
                        if (typeof found === 'undefined') {
                            throw new Error('The node named "' + key + '" is unknown')
                        } else {
                            return found
                        }
                    },
                    setChoiceAt: function (i, key) {
                        this.choices.splice(i)
                        this.choices[i] = key
                    },
                    getAttributes: function () {
                        let cumulative = {}
                        for (const [key, value] of Object.entries(this.flattenObjectWithSum('attributes'))) {
                            cumulative[key] = 4 + 2 * value
                        }
                        return cumulative
                    },
                    getSkills: function () {
                        let cumulative = {}
                        for (const [key, value] of Object.entries(this.flattenObjectWithSum('skills'))) {
                            cumulative[key] = 2 + 2 * value
                        }
                        return cumulative
                    },
                    getNetworks: function () {
                        return this.flattenObjectWithSum('networks')
                    },
                    getEdges: function () {
                        return this.flattenArrayWithUnique('edges')
                    },
                    getBackgrounds: function () {
                        return this.flattenArrayWithUnique('backgrounds')
                    },
                    getFactions: function () {
                        return this.flattenArrayWithUnique('factions')
                    },
                    flattenObjectWithSum: function (propertyKey) {
                        let cumulative = {}
                        for (let choice of this.choices) {
                            let bonus = this.seekNode(choice).bonus
                            if (bonus.hasOwnProperty(propertyKey)) {
                                for (const [key, value] of Object.entries(bonus[propertyKey])) {
                                    if (!cumulative.hasOwnProperty(key)) {
                                        cumulative[key] = 0
                                    }
                                    cumulative[key] += value
                                }
                            }
                        }
                        return cumulative
                    },
                    flattenArrayWithUnique: function (propertyKey) {
                        let cumulative = new Set()
                        for (let choice of this.choices) {
                            let bonus = this.seekNode(choice).bonus
                            if (bonus.hasOwnProperty(propertyKey)) {
                                for (const value of bonus[propertyKey]) {
                                    cumulative.add(value)
                                }
                            }
                        }
                        return Array.from(cumulative.values())
                    }
                }))
        })
    </script>
{% endblock %}