{% extends "base.html.twig" %}

{% block title %}Création rapide de Transhumain{% endblock %}
{% block header_title %}{{ block('title') }}{% endblock %}

{% block content %}
    <div x-data="quickCreation">
        <div class="pure-g">
            <template x-for="(key, idx) in choices" :key="key">
                <div class="pure-u-1-6" x-data="{selected: seekNode(key)}">
                    <h2 x-text="selected.name"></h2>
                    <template x-for="child in selected.children">
                        <label x-data="{choice: seekNode(child)}">
                            <input type="radio" x-bind:name="selected.name + '_child'" x-on:click="setChoiceAt(idx + 1, choice.name)">
                            <span x-text="choice.name"></span>
                        </label>
                    </template>
                </div>
            </template>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-6" x-data="{trait: getAttributes()}">
                <div x-text="trait.AGI"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('quickCreation', () => ({
                    graph: {{ graph|raw }},
                    choices: ['root'],
                    seekNode: function (key) {
                        const found = this.graph.find(node => {
                            return node.name === key
                        })
                        if (typeof found === 'undefined') {
                            throw new Error('The node named "' + key + '" is unknown')
                        } else {
                            return found
                        }
                    },
                    setChoiceAt: function (i, key) {
                        this.choices.splice(i)
                        this.choices[i] = key
                    },
                    getAttributes: function () {
                        let cumulative = {}
                        for (let choice of this.choices) {
                            let bonus = this.seekNode(choice).bonus
                            if (bonus.hasOwnProperty('attributes')) {
                                for (const [key, value] of Object.entries(bonus.attributes)) {
                                    if (!cumulative.hasOwnProperty(key)) {
                                        cumulative[key] = 0
                                    }
                                    cumulative[key] += value
                                }
                            }
                        }

                        for (const [key, value] of Object.entries(cumulative)) {
                            cumulative[key] = 4 + 2 * value
                        }
                        console.log(cumulative)
                        return cumulative
                    }
                }))
        })
    </script>
{% endblock %}