{% extends "base.html.twig" %}

{% block title %}Listing des nœuds du graphe de création{% endblock %}
{% block header_title %}
    <div style="float: right">
        <a href="{{ path('app_npcgraphcrud_run') }}" title="Création rapide">
            <i class="icon-user-plus"></i>
        </a>
    </div>
    {{ block('title') }}
{% endblock %}

{% block content %}
    <div class="pure-g">
        {% for node in graph %}
            <div class="pure-u-1 pure-u-xl-1-6">
                <h2>
                    {{ node.name|capitalize }}
                    <a href="{{ path('app_npcgraphcrud_edit', {title: node.name}) }}">
                        <i class="icon-edit"></i>
                    </a>   
                </h2>

            </div>
        {% endfor %}
    </div>
{% endblock %}
