{# top menu #}
<div style="float: right">
    <a href="{{ path('app_npcgraphcrud_run') }}" title="Création d'un NPC"><i class="icon-user-plus"></i></a>
    <a href="{{ path('app_npcgraphcrud_edit') }}" title="Éditer le graphe"><i class="icon-edit"></i></a>
    <a href="{{ path('app_npcgraphcrud_perlevel', {level:0, propertyName: 'attributes'}) }}" title="Éditer le graphe par niveau"><i class="icon-list"></i></a>
</div>
