{% extends "vertex/show.html.twig" %}

{% block info %}
    {% if vertex.youtubeUrl is not empty %}
        <iframe width="220" height="150" src="https://www.youtube.com/embed/{{ vertex.youtubeUrl }}"
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
        </iframe>
    {% endif %}
{% endblock %}

{% block header_title %}
    <nav style="float: right">
        {{ include('place/actions.html.twig') }}
    </nav>
    {{ vertex.title }}
{% endblock %}