<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ vertex.title }}{% endblock %}</title>
        <link rel="stylesheet" href="{{ absolute_url(asset('purecss/pure-min.css')) }}"/>
        <link rel="stylesheet" href="{{ absolute_url(asset('styles/app.css')) }}"/>
        <style>
            @page {
                margin: 5mm;
                size: A5;
            }
        </style>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <h1 class="big-title bg-color">{{ block('title') }}</h1>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>