{% extends "base.html.twig" %}

{% block header_title %}Aide Wikitext{% endblock %}

{% block content %}
    <h2>Liens</h2>
    <ul>
        <li><strong>Lien interne avec texte par défaut</strong> : <pre>[[Nom du Vertex]]</pre></li>
        <li><strong>Lien interne avec texte de remplacement</strong> : <pre>[[Nom du Vertex|Texte affiché]]</pre></li>
        <li><strong>Lien externe</strong> : <pre>[https://meta.wikimedia.org/wiki/Help:Wikitext_examples Exemples de Wikitext]</pre></li>
        <li><strong>Insérer une image</strong> : <pre>[[file:Ma Jolie Image.jpg]]</pre></li>
    </ul>
    <h2>Formattage</h2>
    <ul>
        <li><strong>Gras</strong> : <pre>'''Texte en gras'''</pre></li>
        <li><strong>Italique</strong> : <pre>''Texte en italique''</pre></li>
        <li><strong>Séparateur</strong> : <pre>----</pre></li>
    </ul>
    <h2>Listes</h2>
    <ul>
        <li><strong>Sans numéro</strong> :
            <pre>
* Farine
* Œuf</pre>
        </li>
        <li><strong>Avec numérotation</strong> :
            <pre>
# Président
# Directeur</pre>
        </li>
    </ul>
    <h2>Tables</h2>
    <ul>
        <li><strong>Sans style</strong> :
            <pre>
{|
! Entête 1
! Entête 2
|- 
| Ligne 1
| Ligne 2
|}</pre>
        </li>
    </ul>
    <h2>Tags étendus</h2>
    <ul>
        <li>Tag &lt;pushpublic&gt; permet de définir un block qui peut être lu à voix haute pour les joueurs.
            Ce contenu peut être diffusé vers l'application de journal des joueurs sous forme de PDF
            <pre>
&lt;pushpublic&gt;
Description
&lt;/pushpublic&gt;</pre>
        </li>
        <li>Tag &lt;param&gt; permet de définir un groupe de paramètres sous la forme <strong>Clef: Valeur</strong> à chaque ligne.
            Une table sera créée pour la mise en forme
            <pre>
&lt;param&gt;
Population: 145
Langue: Mandarin
&lt;/param&gt;</pre>
        </li>
        <li>Tag &lt;carrousel&gt; permet de mettre en page un groupe d'images avec légendes. Les ligne impaires sont 
            des images de la forme <strong>[[file:XXX.jpg]]</strong> et les lignes paires sont les légendes
            <pre>
&lt;carrousel&gt;
[[file:Station.jpg]]
Station Ilima
&lt;/carrousel&gt;</pre>
        </li>
        <li>Tag &lt;morphbank&gt; permet de lister un inventaire de morphes. 
            Chaque ligne dans le tag est de la forme <strong>Nom du morphe | Dispo | Stock</strong>. Ce contenu est diffusable vers les joueurs
            <pre>
&lt;morphbank title="Skinesthesia"&gt;
Furie | 2 | 17
Cosse | 1 | 6
&lt;/morphbank&gt;</pre>
        </li>
    </ul>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        main ul pre {
            background-color: #eee;
            padding: 0.3em;
        }
    </style>
{% endblock %}