{% extends "base.html.twig" %}

{% block content %}
    <div x-data="autocomplete">
        <textarea x-model="content" x-on:keyup="keyUp">
        </textarea>
        <template x-if="open">
            <ul x-ref="combo">
                <template x-for="item in result">
                    <li x-text="item" x-on:click="choose(item)"></li>
                </template>
            </ul>
        </template>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="module">
        Alpine.data('autocomplete', () => ({
                content: '',
                open: false,
                result: [],

                keyUp(event) {
                    const searchLink = /\[\[([^\]]+)$/
                    let extract = searchLink.exec(this.content.substring(0, this.$el.selectionStart))
                    if (null !== extract) {
                        this.open = true
                        fetch('{{ path('app_vertexcrud_search') }}' + '?q=' + extract[1])
                                .then((response) => {
                                    return response.json()
                                })
                                .then((data) => {
                                    this.result = data
                                })
                    } else {
                        this.open = false
                    }
                },

                choose(value) {
                    console.log(value)
                    this.open = false
                }
            }))
        Alpine.start()
    </script>
{% endblock %}