{% extends "base.html.twig" %}

{% form_theme form _self %}

{% block _npc_stats_edges_widget %}
    <div class="pure-g" x-data="{{ { listing: form.vars.data }|json_encode()|e('html_attr') }}" data-choices="{{ attr.choices|json_encode()|e('html_attr') }}">
        <div class="pure-u-1">
            <select class="pure-input-1" x-on:change="console.log($event.target.value)">
                <template x-for="edge in JSON.parse($root.dataset.choices)">
                    <option x-text="edge.name + ' ' + edge.category" x-bind:value="edge.name"></option>
                </template>                
            </select>
        </div>
        <template x-for="edge in listing">
            <div class="pure-u-1">
                <label x-text="edge.name"></label>
            </div>
        </template>
    </div>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//unpkg.com/alpinejs" defer></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            // link checkbox to listing
            [...document.querySelectorAll('#npc_stats_skill_list input[type=checkbox]')].forEach(function (item) {

                // check the checkbox if the same skill in the listing
                if (document.querySelector('#npc_stats_skills input[type=hidden][value="' + item.value + '"]') !== null) {
                    item.checked = true
                }

                // Add event listener on checkbox
                item.addEventListener('change', function (ev) {

                    const key = ev.target.id.match(/.+_(\d+)$/)[1]
                    const skillName = ev.target.value

                    if (ev.target.checked) {
                        // Append skill
                        const collectionHolder = document.querySelector('#npc_stats_skills')

                        collectionHolder.innerHTML += collectionHolder
                                .dataset
                                .prototype
                                .replace(/__name__/g, Math.floor(100 + 1000000 * Math.random()))
                                .replace(/__undefined__/g, skillName)
                    } else {
                        // Delete skill
                        document.querySelector('#npc_stats_skills input[type=hidden][value="' + skillName + '"]').parentNode.parentNode.remove()
                    }
                })
            })

            // adding edge on change :
            document.querySelector('#npc_stats_edge_list').addEventListener('change', function (ev) {
                const collectionHolder = document.querySelector('#npc_stats_edges')
                const edgeName = ev.target.value

                collectionHolder.innerHTML += collectionHolder
                        .dataset
                        .prototype
                        .replace(/__name__/g, Math.floor(100 + 1000000 * Math.random()))
                        .replace(/__undefined__/g, edgeName)
            })
        })
    </script>
{% endblock %}