{% extends "base.html.twig" %}

{% block title %}Random names{% endblock %}

{% block header_title %}Liste de noms{% endblock %}

{% block content %}
    {% for label, gender in listing %}
        <h2>{{ label|capitalize|trans }}</h2>
        <section class="pure-g">
            {% for combo in gender %}
                <div class="pure-u-1-6">
                    {% for name in combo %}
                        <a href="{{ path('app_npcgenerator_create', {title: name}) }}">{{ name }}</a><br/>
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
{% endblock %}