{% extends "base.pdf.twig" %}
{% block content %}
    <div class="handout">
        {{ wiki(vertex.pcInfo, 'pdf') }}
    </div>
{% endblock %}  

{% block stylesheets %}
    <style>
        .handout {
            margin-top:1em;
            font-size: 110%;
        }
        .handout p, .handout li {
            line-height: 140%;
        }
    </style>    
{% endblock %}