{% extends "base.pdf.twig" %}

{% block title %}Rapport de session{% endblock %}

{% block content %}
    <div class="pure-g">
        {% for picture in listing %}
            <div class="pure-u-1-6">
                <img src="{{ absolute_url(path('app_gamesession_broadcasted', {title: picture.basename})) }}" class="pure-img"/>
            </div>
        {% endfor %}
    </div>
{% endblock %}
