{% extends "base.pdf.twig" %}

{% block title %}Rapport de session{% endblock %}

{% block content %}
    {% for picture in listing %}
        <section>
            <img src="file://{{ picture.pathname }}"/>
        </section>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        section {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            margin: auto;
            width: 100vw;
            height: 100vh;
            object-fit: contain;
        }
    </style>
{% endblock %}