{% extends "base.pdf.twig" %}

{% block title %}Rapport de session{% endblock %}

{% block content %}
    <div class="pure-g">
        {% for picture in listing %}
            <div class="pure-u-1-5">
                <figure>
                    <img src="file://{{ picture.pathname }}" class="pure-img"/>
                </figure>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        @page {
            margin: 5mm;
            size: A4 landscape;
        }
        figure {
            margin: 0.3em;
        }
    </style>
{% endblock %}