{% extends "base.pdf.twig" %}

{% block title %}Rapport de session{% endblock %}

{% block content %}
    <header>
        <img src="file:///app/public/pwa/eclipse-phase-512.png" class="pure-img"/>
        <p>
            <a href="https://eclipse-savage.fandom.com/fr/wiki/Wiki_Eclipse_Savage">Le Wiki Eclipse Savage sur Fandom</a>
        </p>
        <p>
            <a href="https://eclipse-savage.fandom.com/fr/f">Le Blog du Wiki - News récentes</a>
        </p>
    </header>
    {% for picture in listing %}
        <section>
            <img src="file://{{ picture.pathname }}"/>
        </section>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        header img {
            width: 70%;
            margin: 3em auto;
            border-radius: 2%;
        }
        header p {
            text-align: center;
            font-size: 160%;
        }

        section {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        section img {
            margin: auto;
            width: 100vw;
            height: 100vh;
            object-fit: contain;
        }
        img.portrait {
            transform: rotate(90deg);
            width: 100vh;
            height: 100vw;
        }
    </style>
{% endblock %}
